


   /*Geeft een basisstijl met alles met de waarde 'body'*/
   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica;
    color: #000000;
    rotate: 2deg;
    
  }
  
  /*Maakt een vak aan in de achtergrond van het beeld*/
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
    max-width: 25em;
    min-width: 20em;
    border-radius: 0rem;
    background: rgb(230, 243, 184);
    box-shadow: 0 0 10px 10px rgba(0,0,2,.2);
    transition: .25s;
  }

/*geeft een stijl met alle tekst met de waarde 'header'*/
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
  }

  
  h2 {
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin: 0%;
  }
  
/*geeft een stijl met alle tekst met de waarde 'h1'*/
  h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 0%;
    font-size: 3em;

  }

  ul{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    
  }

  #invulling{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: green;
    font-family: "Nanum Pen Script", sans-serif;
    font-size: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-weight: 600;
    
  }

/*maakt het canvas + de afbeelding anders.*/ 
  img {
    width: 8em;
    height: auto;
    border: 0.5em solid #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
    margin-top: 2em;
    rotate: 358deg;
  }
  


  
